.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid lightgrey;
}

a {
    text-decoration: none;
    color: inherit;
}

.chat__deatils {
    flex: 1
}

.chat__deatils>p {
    color: grey;
}

.chat__timestamp {
    color: grey;
}

.chat__image {
    margin-right: 20px;
}